@charset "utf-8";
*{margin: auto}
.anhBia{
	background-image: url("../image/Bãi Trước hay Bãi Sau Vũng Tàu đẹp hơn (1).jpg");
	height: 200px;
	width: auto;
	background-size: cover;
}
.trangtru{
	color: white;
	padding-top: 20px;
	padding-left: 25px;
}
.A2
{padding-left: 15px;}
.A3
{padding-left: 15px;}
.A4
{padding-right: 50px;
float: right}
.A5
{float: right;
padding-right: 50px;}
.A6
{float: right;
padding-right: 50px;}
.trangtru a:hover{
	color: black;

}.trangtru a{
	text-decoration: none;
	color: white;
}
.anhBia h1{
	padding-top: 60px;
	color: white;
	text-align: center;
}
.KHAMPHA{
	width: 100px;
	height: 30px;
	color: white;
	padding-top: 10px;
	border: 1px solid white;
	text-align: center;
	margin-top: 10px;;
}
.KHAMPHA:hover{
	background-color: orange;
	color: black;
	
}
.KHAMPHA a{
	color: white;
	
}
.khungtrang{
	width: auto;
	height: 100px;
}
.vungchu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 20px 0;
    text-align: center;
	margin-top: 40px;
}
.chu {
    font-size: 24px;
    font-weight: bold;
    color: green;
    position: relative;
    text-transform: uppercase;
}
.vungchu::before,
.vungchu::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid blue;
    margin: 20px;
}
.tim{
	width: 1100px;
	height: 500px;
	background:#CECECE;
	margin-top: 30px;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow: hidden;
	overflow: scroll;
}
.Ta1{
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-width: 250px;
	width: 200px;
	height: 250px;
	float: left;
	margin: 40px;
	min-height: 200px;
}
.icon {
 position: fixed;
bottom: 20px;
right: 20px; 
width: 50px;
height: 50px;
background-color: green; 
display: flex;
align-items: center;
justify-content: center;
border-radius: 5px; 
cursor: pointer;
z-index: 1000; 
}
.icon::before {
content: "▲";
 color: white;
font-size: 24px;
}
.Ta1 p{
	padding-top: 10px;
	font-size: 14px;
}
.end{
	width: auto;
	height: 300px;
	float:inherit;
}
.end img{
	float: left;
}
.end p{
	text-align: center;
	color: white;
	
}
.end{
	width: auto;
	height: 300px;
	float:inherit;
	background-image: url("../image/Nguồn_ Dương Nguyễn.jpg");
background-size: contain;
}
.end .chudau{
	padding-top: 40px;
	color: white;
	text-align: center;
}
